<ion-view title="Categories">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="category in categories" class="item-button-right">
        {{category.title}}
          <button ng-class="(category.selected) ? 'button button-positive' : 'button button-light'" ng-click="toggleSelection(category)">
             <i class="icon ion-checkmark-round"></i>
          </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
