<ion-view title="Fitalize">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header dt-app-background" padding="true">
        <dt-points></dt-points>

        <h4>Today's Tip:</h4>
        <div ng-if="tip.title">
            <dt-tip-card></dt-tip-card>
        </div>

        <div ng-if="tips.length > 0">
            <h4>Tip Collection:</h4>
            <div ng-repeat="tip in tips">
                <dt-tip-card></dt-tip-card>
            </div>
        </div>
    </ion-content>
</ion-view>
