<ion-view title="Fitalize">
    <ion-nav-buttons side="left">
        <button ng-class="leftButton.type" ng-click="leftButton.tap()">{{leftButton.content}}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-class="rightButton.type" ng-click="rightButton.tap()">{{rightButton.content}}</button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">
        <ion-slide-box does-continue="false" show-pager="false" disable-scroll="false" on-slide-changed="slideChanged(index)" ng-if="onboard">
            <ion-slide>
                <h1>Welcome</h1>
                <p>Welcome to Fitalize!  This app will help you become a better version of you.</p>
                <p>Choose the categories of tips on which to focus.  We only pick tips from these categories:</p>

                <div ng-controller="CategoriesCtrl">
                    <dt-categories></dt-categories>
                </div>
            </ion-slide>
            <ion-slide>
                <p>Here is an example tip.  Looks like you have already done this, so tap the "Done" button!</p>
                <dt-points></dt-points>
                <dt-tip-card></dt-tip-card>
            </ion-slide>
            <ion-slide>
                <p>Every day, you'll get one new tip from the categories you picked.  You can do that tip today, or leave it for another day.</p>
                <p>Tips will give you less points as they get older.</p>
                <p>Your tips will arrive at 8am by default, but you can change that in the settings.</p>
                <p>When you achieve something great, you will be rewarded!</p>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>