*.sw*
*~
/build
/node_modules
/bower_components
.jshintrc
*tpl-compiled.html
.idea/*
/dist
*.apk
*.ap_
*.ap_.d
*.apk.d
build.prop
bower_components/
npm-debug.log
local.properties
**/ant-build/**/*
**/ant-gen/**/*
/platforms/android/assets/www/**/*
plugins/de.appplant.cordova.plugin.local-notification/.fetch.json
plugins/me.apla.cordova.app-preferences/.fetch.json